[oraclejdk8]
role=oraclejdk8
jdk_major_version={{ jdk_major_version }}
jdk_version={{ jdk_version }}
java_home_full_path={{ java_home }}
java_home_default={{ java_default }}
source_pkg="{{ jdk_url }}"
vendor=Oracle


