<?xml version="1.0" encoding="UTF-8"?>
<included>

     <appender name="GELF" class="me.moocar.logback.net.SocketEncoderAppender">
        <remoteHost>graylogger.us-west-2.kenzanmedia.build</remoteHost>
        <port>9898</port>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="me.moocar.logbackgelf.GelfLayout">
                <shortMessageLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%ex{short}%.100m</pattern>
                </shortMessageLayout>
                <fullMessageLayout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%m%rEx</pattern>
                </fullMessageLayout>
                <useLoggerName>true</useLoggerName>
                <useThreadName>true</useThreadName>
                <useMarker>true</useMarker>
                <includeFullMDC>true</includeFullMDC>
                <staticAdditionalField>_facility:${archaius.deployment.applicationId}</staticAdditionalField>
            </layout>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="GELF" />
    </root>
</included>
